body{
    margin:0;
    padding:0;
    background-image: url(./images/mth2);
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
#sgnUp{
    color:white;
    margin:10px auto;
    font-size:20px;
    font-family: sans-serif;
    width:80%;
    padding:auto;
    text-align: center;
    border-bottom: 1px solid gray;
}
#sgnUpFrm {
    padding-top:20px;
    width:40%;
    height: 400px;
    border:1px solid gray;
    margin:auto;
    padding: 10px;
    color:white;
    box-shadow: 0 0 20px 10px black;
}
#sgnUpFrm p {
   margin:auto;
   padding:0;
   width:90% ;
   display:flex;
   flex-direction: column;
}
#sgnUpFrm p span {
    width: 100%;
    font-family: sans-serif;
    margin:auto;
    color:white;

}
#sgnUpFrm p input {
    width: 100%;
    margin:auto auto 10px auto;
    padding:5px;
    border-radius:4px;

}
#sgnUpFrm button {
    margin-left:75%;
    width:20%;
    border-radius:4px;
}
#lgin{
    color: white;
    font-size: 10px;
}
#lgin a {
    text-decoration: none;
    color:white;
}
#cpyrt{
    font-size:10px;
    margin-top:50px;
}
