body {
    background-color: #E5E5E5 !important;
}

.body {
    background-color: white !important;
}

#collapsibleNavId {
    color: white !important;
}

.welcome {
    background-color: #E5E5E5 !important;
}

.nav {

    /* background-color: #2FC199 !important; */
}
    

.nav-link {
    margin-left: -5% !important;
}

.alert-msg {
    display: none;
}

.name {
    color: rgb(255, 255, 255) !important;
}

.user {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 4px 4px #2FC199 !important;
}

.id {
    border-right: solid 1px white;
}

#signout {
    border-left: solid 1px white;
}

#user {
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 4px 4px #2FC199 !important;
    font-size: 2.5em !important;
}

p {
    margin-bottom: 8% !important;
    /* margin-left: 38% !important; */
}

.black-bg {
    background-color: black !important;
    padding: 3px;
}

.cont {
    color: #2FC199 !important;
}

#btn {
    background-color: #1AB188 !important;
    box-shadow: 0px 4px 3px #000000, 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

#net {
    color: #000000 !important;
    font-size: 2em;
    /* margin-left: 36% !important; */
}

#display {
    width: 30% !important;
    margin-left: 35% !important;
    background: #1AB188;
    box-shadow: 0px 4px 3px #000000, 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #000000 !important;
}

.copyright {
    padding: 10px;
    background-color: black !important;
    color: white;
}